<%- include('layouts/partials/header.ejs' , {
title : 'Tengeneza Role ',
page_title : 'Tengeneza Role',
card_title : 'Tengeneza Role'
}) %>
<div class="ribbon-three ribbon-three-info">
<span class="badge">CREATE</span>
</div>
<div class="card-body">
<div class="live-preview">
    <div class="row">
        <div class="col-lg-12 col-md-12"> 
            <div>   
                <div class="alert alert-secondary mb-3 shadow">
                    <span class="text-secondary">Weka <code>jina la Role</code> kisha chagua kutoka kwenye orodha ya menu <code>hapo chini</code> 
                        ili kuweza kuwapa watumiaji wa mfumo.
                    </span>
                </div>
                <div class="form-group mb-2">
                        <label class="form-check-label" for="roleName">
                            Jina la Role
                        </label>
                        <input type="text" class="form-control" id="roleName"
                        placeholder="Mfano: Admin">
                </div> 

                <h4 class="mt-4">Permissions</h4>
                <label><input type="checkbox" class="form-check-input" id="check-all"/> Chagua Zote</label>
                    <hr/>
                    <div class="row">
                        <% for(var i = 0; i < data.length; i++){ %>
                        <div class="col-md-4 mb-2">
                            <label class="form-check-label" for="formCheck<%=i%>"> 
                            <input class="form-check-input checkbox" 
                            value="<%= data[i].id %>" 
                            <%=data[i].is_default ? 'checked disabled' : ''%>
                            type="checkbox" name="formCheck1" 
                            id="formCheck<%=i%>">
                                <span class="ml-4"><%= data[i].permission_name %>  </span>  
                            </label>
                        </div>
                        <% } %>
                    </div> 
                </div>
                <div class="alert alert-success shadow" role="alert" id="alertsuccess1" style="display: none;">
                    <strong> Hongera! Role & ! </strong> Permissions <b>zimesajiliwa</b> kikamilifu!
                </div>
                <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist1" style="display: none;">
                    <strong> Imeshindwa Kusajili! </strong> Role <b>ilishasajiliwa.</b> tafadhali jaribu jina lingine!
                    </div>
                    <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao1" style="display: none;">
                    <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
                </div>  
                <hr/>
                <div class="mb-2 mt-4" id="sajilbtn">
                    <button type="button" class="btn btn-success bg-gradient waves-effect waves-light" onclick="createRole()">Tengeneza</button>
                </div> 
                <div id="pakiabtn" style="display: none;">
                    <button type="button" class="btn btn-success btn-load">
                        <span class="d-flex align-items-center">
                            <span class="spinner-border flex-shrink-0" role="status">
                                <span class="visually-hidden">Tafadhali subiri...</span>
                            </span>
                            <span class="flex-grow-1 ms-2">
                                Tafadhali subiri...
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div>
<!-- end card -->
<%- include('layouts/partials/footer.ejs') %>
<script type="text/javascript" src="/design/layouts/scripts/roles_scripts.js"></script>
</body>
</html>