<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">


<!-- Mirrored from themesbrand.com/velzon/html/default/tables-listjs.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Sep 2022 10:26:15 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Ada za Malipo | IRS - Institution Registration System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="design/assets/images/favicon.ico">

    <!-- Sweet Alert css-->
    <link href="design/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="design/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="design/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="design/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="design/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="design/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include('sidebar.ejs') %>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Malipo</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Mipangilio</a></li>
                                        <li class="breadcrumb-item active">Ada za Malipo</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Orodha ya Ada za Malipo</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div id="customerList">
                                        <div class="row g-4 mb-3">
                                            <div class="col-sm-auto">
                                                <div>
                                                    <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Sajili</button>
                                                    <!-- <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button> -->
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="d-flex justify-content-sm-end">
                                                    <div class="search-box ms-2">
                                                        <input type="text" class="form-control search" placeholder="Tafuta...">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive table-card mt-3 mb-1">
                                            <table class="table align-middle table-nowrap" id="customerTable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th width="5%">
                                                           Na.
                                                        </th>
                                                        <th class="sort" data-sort="customer_name">#</th>
                                                        <!-- <th class="sort" data-sort="email">Jina</th> -->
                                                        <th class="sort" data-sort="email">Aina ya Malipo</th>
                                                        <th class="sort" data-sort="email">Kiasi</th>
                                                        <th class="sort text-center" width="15%" data-sort="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                    <% for(var i = 0; i < data.length; i++){ %>
                                                    <tr>
                                                        <td scope="row">
                                                            <%=(i+1)%>
                                                        </td>
                                                        <td class="id"><a href="javascript:void(0);" class="fw-medium link-primary">#<%= data[i].feeCode %></a></td>
                                                        <td class="phone"><%= data[i].Fee %></td>
                                                        <td class="phone"><%= data[i].Kiasi %></td>

                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <!-- <div class="edit"> -->
                                                                    <button class="btn btn-sm btn-link btn-sm text-primary"
                                                                    onclick="AddZone1(this); return false;" data-fee_id="<%= data[i].fee_id %>" 
                                                                    data-id="<%= data[i].feeCode %>" data-name="<%= data[i].Fee %>" 
                                                                    data-amount="<%= data[i].Kiasi %>" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></button>
                                                                <!-- </div> -->
                                                                <button type="button" class="btn btn-link btn-sm text-danger" 
                                                                data-bs-toggle="modal" data-id="<%= data[i].fee_id %>" 
                                                                id="create-btn" 
                                                                onclick="deleteMalipo(this); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any orders for you search.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="pagination-wrap hstack gap-2">
                                                <a class="page-item pagination-prev disabled" href="#">
                                                    Previous
                                                </a>
                                                <ul class="pagination listjs-pagination mb-0"></ul>
                                                <a class="page-item pagination-next" href="#">
                                                    Next
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                </div>
                                <form>
                                    <div class="alert alert-success shadow" role="alert" id="alertsuccess" style="display: none;">
                                        <strong> Hongera! </strong> Malipo <b>yamesajiliwa</b> kikamilifu!
                                    </div>
                                    <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist" style="display: none;">
                                        <strong> Imeshindwa Kusajili! </strong> Malipo <b>yalishasajiliwa</b> kwenye mfumo tayari!
                                     </div>
                                     <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao" style="display: none;">
                                        <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
                                    </div>
                                    <div class="modal-body">

                                        <div class="mb-3" id="modal-id" style="display: none;">
                                            <label for="id-field" class="form-label">ID</label>
                                            <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                                        </div>

                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Jina la Ada</label>
                                            <input type="text" id="ada-field" class="form-control" placeholder="Mfano: Ada ya usajili" required />
                                            <span style="color: red;display: none;" id="jazada">Tafadhali jaza Jina la Ada</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Code ya Ada</label>
                                            <input type="text" id="code-field" class="form-control" placeholder="Mfano: RF01" required />
                                            <span style="color: red;display: none;" id="jazacode">Tafadhali jaza Code ya Ada</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Kiasi (Tshs)</label>
                                            <input type="text" id="kiasi-field" class="form-control" placeholder="Mfano: 1000" required />
                                            <span style="color: red;display: none;" id="jazakiasi">Tafadhali jaza Kiasi</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light" onclick="funga()" data-bs-dismiss="modal">Funga</button>
                                            <button type="button" class="btn btn-success" onclick="sajiliHati()" id="add-btn">Rekodi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="showModal_edit" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="exampleModalLabel1"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                </div>
                                <form>
                                    <div class="alert alert-success shadow" role="alert" id="alertsuccess1" style="display: none;">
                                        <strong> Hongera! </strong> Malipo <b>imebadilishwa</b> kikamilifu!
                                    </div>
                                    <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist1" style="display: none;">
                                        <strong> Imeshindwa Kubadilisha! </strong> Malipo <b>yalishasajiliwa</b> kwenye mfumo tayari!
                                     </div>
                                     <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao1" style="display: none;">
                                        <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
                                    </div>
                                    <div class="modal-body">

                                        <div class="mb-3" id="modal-id1" style="display: none;">
                                            <label for="id-field" class="form-label">ID</label>
                                            <input type="text" id="id-field-edit" class="form-control" placeholder="ID" readonly />
                                        </div>

                                        <div class="mb-3">
                                            <label for="customername-field1" class="form-label">Jina la Ada</label>
                                            <input type="text" id="ada-field-edit" class="form-control" required />
                                            <span style="color: red;display: none;" id="jazada1">Tafadhali jaza Jina la Ada</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Code ya Ada</label>
                                            <input type="text" id="code-field-edit" class="form-control" required />
                                            <span style="color: red;display: none;" id="jazacode1">Tafadhali jaza Code ya Ada</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="customername-field" class="form-label">Kiasi (Tshs)</label>
                                            <input type="text" id="kiasi-field-edit" class="form-control" required />
                                            <span style="color: red;display: none;" id="jazakiasi1">Tafadhali jaza Kiasi</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light" onclick="funga()" data-bs-dismiss="modal">Funga</button>
                                            <button type="button" class="btn btn-success" onclick="editHati()" id="add-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script>
                        function sajiliHati(){
                            var ada = document.getElementById('ada-field').value;
                            var kiasi = document.getElementById('kiasi-field').value;
                            var code = document.getElementById('code-field').value;
                            if(ada.length <= 0){
                                $("#jazada").show();
                            }
                            if(code.length <= 0){
                                $("#jazacode").show();
                            }
                            if(kiasi.length <= 0){
                                $("#jazakiasi").show();
                            }
                            if(ada.length > 0 && code.length > 0 && kiasi.length > 0){
                                $.ajax({
                                    url: "/SajiliAda",
                                    type: 'POST',
                                    data: JSON.stringify({"ada": ada, "code": code, "kiasi": kiasi}),
                                    contentType: 'application/json',
                                    success: function(response) {
                                        if(response.statusCode == 300){
                                                $("#alertsuccess").show();
                                            }if(response.statusCode == 306){
                                                $("#alertexist").show();
                                            }if(response.statusCode == 400 || response.statusCode == 500){
                                                $("#alertmtandao").show();
                                            }
                                    //nata();
                                    
                                        // if(typeof(response) === "string"){response = JSON.parse(response)}
                                    }
                                });
                            }
                        }
                        function funga(){
                            window.location.href = "/Malipo"
                        }
                    </script>
                    <script>
                        function vyeoLocation(){
                            var vcheo = document.getElementById("status-field").value;
                            var cheo_rank = vcheo.split(" - ");
                            var location = cheo_rank[0];
                            // alert("location")
                        }
                        function deleteMalipo(e){
                            var nameId = e.getAttribute('data-id');
                            document.getElementById("feeid-field-edit").value = nameId;
                            // var kanda = document.getElementById("ada-field").value;
                            $('#deleteRecordModal').modal('show');
                        }
                        function futaHati(){
                            var malipoId = document.getElementById('feeid-field-edit').value;
                            
                                $.ajax({
                                    url: "/FutaMalipo",
                                    type: 'POST',
                                    data: JSON.stringify({"malipoId": malipoId}),
                                    contentType: 'application/json',
                                    success: function(response) {
                                        alert("Ada ya Malipo imefutwa kikamilifu")
                                    $('#deleteRecordModal').modal('hide');
                                    window.location.href = "/Malipo"
                                    }
                                });

                        }
                    </script>
                    <!-- Modal -->
                    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mt-2 text-center">
                                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                            <h4>Are you Sure ?</h4>
                                            <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                            <input type="hidden" id="feeid-field-edit" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn w-sm btn-danger " onclick="futaHati()" id="delete-record">Yes, Delete It!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal -->

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © IRS
                        </div>
                        <div class="col-sm-6">
                            <!-- <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div> -->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!-- JAVASCRIPT -->
    <script src="design/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="design/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="design/assets/libs/node-waves/waves.min.js"></script>
    <script src="design/assets/libs/feather-icons/feather.min.js"></script>
    <script src="design/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="design/assets/js/plugins.js"></script>
    <!-- prismjs plugin -->
    <script src="design/assets/libs/prismjs/prism.js"></script>
    <script src="design/assets/libs/list.js/list.min.js"></script>
    <script src="design/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- listjs init -->
    <script src="design/assets/js/pages/listjs.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="design/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- App js -->
    <script src="design/assets/js/app.js"></script>

    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="design/assets/js/pages/select2.init.js"></script>

    <!-- prismjs plugin -->
    <script src="design/assets/libs/prismjs/prism.js"></script>
    <script>
        function AddZone1(e){
            var code = e.getAttribute('data-id');
            var name = e.getAttribute('data-name');
            var amount = e.getAttribute('data-amount');
            var fee_id = e.getAttribute('data-fee_id');
            document.getElementById("ada-field-edit").value = name;
            document.getElementById("code-field-edit").value = code;
            document.getElementById("kiasi-field-edit").value = amount;
            document.getElementById("id-field-edit").value = fee_id;
            $('#showModal_edit').modal('show');
        }
        function editHati(){
            var ada = document.getElementById('ada-field-edit').value;
            var kiasi = document.getElementById('kiasi-field-edit').value;
            var code = document.getElementById('code-field-edit').value;
            var fee_id = document.getElementById("id-field-edit").value;
            if(ada.length <= 0){
                $("#jazada1").show();
            }
            if(code.length <= 0){
                $("#jazacode1").show();
            }
            if(kiasi.length <= 0){
                $("#jazakiasi1").show();
            }
            if(ada.length > 0 && code.length > 0 && kiasi.length > 0){
                $.ajax({
                    url: "/EditAda",
                    type: 'POST',
                    data: JSON.stringify({"ada": ada, "code": code, "kiasi": kiasi, "fee_id": fee_id}),
                    contentType: 'application/json',
                    success: function(response) {
                        if(response.statusCode == 300){
                            $("#alertsuccess1").show();
                        }if(response.statusCode == 306){
                            $("#alertexist1").show();
                        }if(response.statusCode == 400 || response.statusCode == 500){
                            $("#alertmtandao1").show();
                        }
                    }
                });
            }
        }
    </script>
</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/tables-listjs.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Sep 2022 10:26:16 GMT -->
</html>