<% var card_title = '' %> 
<%- include('layouts/partials/header.ejs' , {
    title : 'Permissions',
    page_title : 'Orodha ya Permissions',
    card_title : 'Permissions zilizopo',
    breadcrumb_main : 'Mipangilio' 
}) %>
<div class="card-body">
    <div class="ribbon-three ribbon-three-info">
        <span class="badge"><%=`${pagination.total}`%></span>
    </div>
<div id="customerList">
    <div class="row g-4 mb-3">
        <div class="col-sm-10">
            <form action="<%= edit ? '/badiliPermission/'+ePermission[0].id : '/tengenezaPermission'%>" method="POST" class="d-flex">
                        <div class="col-xxl-3 px-2">
                            <% var name = edit ? ePermission[0].permission_name : '' %>
                            <input required name="permission_name" value="<%= name ? name.replace(/-/g , ' ') : '' %>" class="form-control" placeholder="Jina mfano futa-akaunti" />
                        </div>
                        <div class="col-xxl-3 px-2">
                            
                            <input required name="display_name" value="<%=edit ? ePermission[0].display_name : ''%>" class="form-control" placeholder="Jina la kusomeka mfano Futa Akaunti" />
                        </div>
                        <% if(edit){ %>
                                <div class="col-xxl-2 px-4 mt-2  form-check form-check-success">
                                        <label class="form-check-label">
                                        <input  type="checkbox" name="status" <%=edit && ePermission[0].status_id == 1 ? 'checked' : ''%> class="form-check-input"  /> 
                                        <span class="ml-2">Enabled</span></label>
                                </div>
                                <div class="col-xxl-2 px-4 mt-2  form-check form-check-success">
                                        <label class="form-check-label">
                                        <input  type="checkbox" name="is_default" <%=edit && ePermission[0].is_default == 1 ? 'checked' : ''%> class="form-check-input"  /> 
                                        <span class="ml-2">Default</span></label>
                                </div>
                        <% }%>
                        <div class="col-xxl-3 px-2">
                            <button type="submit" class="btn px-4 <%=edit ? 'btn-primary' : 'btn-success'%>"> 
                            <%=edit ? 'Badili' : 'Sajili'%>
                            </button>
                            <%if (edit) { %>
                                <a href="/Permissions" class="btn btn-danger"><i class=""></i>Ghairi</a>
                            <% } %>
                        </div>
            </form>
        </div>
        <div class="col-sm-2">
            <div class="d-flex justify-content-sm-end">
                <div class="search-box ms-2">
                    <input type="text" class="form-control search" placeholder="Tafuta...">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive table-card mt-3 mb-1">
        <div class="alert alert-info">
            <h6 class="text-primary text-uppercase">Jumla ya permissions <%= pagination.total %> zimepatikana</h6>
        </div>
            <% var success = req.flash('success') %>
            <% var error  = req.flash('error') %>
            <% if(success != ''){%>
                    <div class="alert alert-success">
                        <%= success %>
                    </div>
            <% } %>
            <% if(error != ''){%>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
            <% } %>
        <table class="table align-middle table-nowrap" id="customerTable">
            <thead class="table-light">
                <tr>
                    <!-- <th scope="col" style="width: 50px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                        </div>
                    </th> -->
                    <th width="5%" >Na.</th>
                    <th >Jina</th>
                    <th >Jina la kusomeka</th>
                    <th class="text-center">Default</th>
                    <th >Action</th>
                </tr>
            </thead>
            <tbody class="list form-check-all">
                <% for(var i = 0; i < data.length; i++){ %>
                <tr class="<%= data[i].status_id == 0 ? 'text-danger' : ''%>">
                    <td class="id">
                        <a href="/javascript:void(0);" class="fw-medium link-primary">
                            <%=((Number(pagination.current) - 1) * Number(pagination.per_page)) + i + 1 %>
                        </a>
                    </td>
                    <td class=""><%= data[i].permission_name %></td>
                    <td class=""><%= data[i].display_name %></td>
                    <td class="text-center">
                        <span class="<%=data[i].is_default == 1 ? 'ri ri-checkbox-circle-line text-success' : '' %>"></span>
                    </td>
                    <td class="text-left"> 
                        <form action="/futaPermission/<%=data[i].id%>" method="POST">
                        <% if(edit && ePermission[0].id == data[i].id){%>
                        <%}else{%>
                            <a href="/Permissions/<%= data[i].id %>" class="btn btn-link text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                class="feather feather-edit-3"><path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            </a>
                            <button type="button" class="btn btn-link text-danger btn-delete" >
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline>
                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                            </button>
                        <%}%>
                        
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any orders for you search.</p>
            </div>
        </div>
    <!-- Pagination and page length -->
        <div class="d-flex justify-content-between">
            <div>
                <form action="" method="GET">
                        <select class="form-control" name="per_page" style="width: 80px;" id="page-size">
                            <option value="5"   <%-req.query.per_page ==  5  ? 'selected' : '' %> >5</option>
                            <option value="10"  <%-req.query.per_page == 10 || !req.query.per_page   ? 'selected' : '' %> >10</option>
                            <option value="20"  <%-req.query.per_page == 20  ? 'selected' : '' %> >20</option>
                            <option value="50"  <%-req.query.per_page == 50  ? 'selected' : '' %> >50</option>
                            <option value="100" <%-req.query.per_page == 100 ? 'selected' : '' %> >100</option>
                        </select>
                </form>
            </div>
            <%- include('paginations/html_pagination.ejs'); %>
        </div>
    <!-- End pagination and page length -->
    </div>
</div>
</div><!-- end card -->
<%- include('layouts/partials/footer.ejs' , {card_title :  card_title}) %>
<!-- <script type="text/javascript" src="design/layouts/scripts/permissions_scripts.js"></script> -->
</body>
</html>