<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

    <head>
        
        <meta charset="utf-8" />
        <title>Roles and Permissions | IRS - Institution Registration System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="design/assets/images/favicon.ico">

        <!-- Layout config Js -->
        <script src="design/assets/js/layout.js"></script>
        <!-- Bootstrap Css -->
        <link href="design/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="design/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="design/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- custom Css-->
        <link href="design/assets/css/custom.min.css" rel="stylesheet" type="text/css" />


    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <%- include('sidebar.ejs') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Roles & Permissions</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Mipangilio</a></li>
                                            <li class="breadcrumb-item active">Roles & Permissions</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Tafadhali tengeneza Roles & Permissions hapa</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div class="live-preview">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6"> 
                                                 
                                                    <div>   
                                                        <p class="text-muted fw-medium">Roles & Permissions</p>
                                                        <p class="text-muted">Weka <code>jina la Role</code> kisha chagua kutoka kwenye orodha ya menu <code>hapo chini</code> 
                                                            ili kuweza kuwapa watumiaji wa mfumo.</p>
                                                            <div class="form-check mb-2">
                                                                <label class="form-check-label" for="formCheck1">
                                                                   Jina la Role
                                                                </label>
                                                                <input type="text" class="form-control" id="roleName"
                                                                placeholder="Mfano: Admin">
                                                            </div> 
                                                        <% for(var i = 0; i < data.length; i++){ %>
                                                        <div class="form-check mb-2">
                                                            <label class="form-check-label" for="formCheck<%=i%>">
                                                                <%= data[i].permission_name %>
                                                            </label>
                                                            <input class="form-check-input" value="<%= data[i].perm_id %>" type="checkbox" name="formCheck1" id="formCheck<%=i%>">
                                                        </div> 
                                                        <% } %>
                                                        <div class="alert alert-success shadow" role="alert" id="alertsuccess1" style="display: none;">
                                                            <strong> Hongera! Role & ! </strong> Permissions <b>zimesajiliwa</b> kikamilifu!
                                                        </div>
                                                        <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist1" style="display: none;">
                                                            <strong> Imeshindwa Kusajili! </strong> Role <b>ilishasajiliwa.</b> tafadhali jaribu jina lingine!
                                                         </div>
                                                         <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao1" style="display: none;">
                                                            <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
                                                        </div>  
                                                        <div class="form-check mb-2" id="sajilbtn">
                                                            <button type="button" class="btn btn-success bg-gradient waves-effect waves-light" onclick="tengenezaRole()">Tengeneza</button>
                                                        </div> 
                                                        <div id="pakiabtn" style="display: none;">
                                                            <button type="button" class="btn btn-success btn-load">
                                                                <span class="d-flex align-items-center">
                                                                    <span class="spinner-border flex-shrink-0" role="status">
                                                                        <span class="visually-hidden">Tafadhali subiri...</span>
                                                                    </span>
                                                                    <span class="flex-grow-1 ms-2">
                                                                        Tafadhali subiri...
                                                                    </span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </div>
<script>
    function tengenezaRole(){
    var checkboxes = 
                document.getElementsByName('formCheck1');
        var role_name = document.getElementById('roleName').value;
  
            var result = [];
  
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    result += checkboxes[i].value;
                
                }
            }
            if(role_name.length <= 0){
                alert("Jina la Role haliwezi kuwa null")
            }else{
            $("#sajilbtn").hide();
            $("#pakiabtn").show();
            $.ajax({
                    url: "/tengenezaRoles",
                    type: 'POST',
                    data: JSON.stringify({"role_name": role_name, "permissions": result}),
                    contentType: 'application/json',
                    success: function(response) {
                        if(response.statusCode == 300){
                            $("#sajilbtn").show();
                            $("#pakiabtn").hide();
                            $("#alertsuccess").show();
                            window.location.href = "/RolesPermissions"
                        }if(response.statusCode == 306){
                            $("#sajilbtn").show();
                            $("#pakiabtn").hide();
                            $("#alertexist").show();
                        }if(response.statusCode == 400 || response.statusCode == 500){
                            $("#sajilbtn").show();
                            $("#pakiabtn").hide();
                            $("#alertmtandao").show();
                        }
                    }
                });
            }
        }
</script>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © IRS
                            </div>
                            <div class="col-sm-6">
                                <!-- <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by Themesbrand
                                </div> -->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="design/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="design/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="design/assets/libs/node-waves/waves.min.js"></script>
        <script src="design/assets/libs/feather-icons/feather.min.js"></script>
        <script src="design/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
        <script src="design/assets/js/plugins.js"></script>

        <!-- prismjs plugin -->
        <script src="design/assets/libs/prismjs/prism.js"></script>

        <script src="design/assets/js/app.js"></script>

    </body>
</html>