<% var card_title = '' %>
<%- include('layouts/partials/header.ejs' , {
        title : 'Fuatilia Maombi',
        page_title : 'Orodha ya Maombi',
        card_title : 'Maombi yaliyopo',
        breadcrumb_main : 'Track' 
}) %>
<div class="card-body">
  <div class="ribbon-three ribbon-three-info">
    <span class="badge"><%=`${pagination.total}`%></span>
  </div>
  <div id="customerList">
    <div class="row g-4 mb-3">
      <div class="col-sm">
        <div class="d-flex">
          <form method="GET" action="/TrackOmbi" class="d-flex">
                <div class="search-box ms-2">
                    <input type="text" name="tafuta" value="<%= req.query.tafuta %>" class="form-control search" placeholder="Tafuta...">
                    <i class="ri-search-line search-icon"></i>
                </div>
                <div class="ms-2">
                    <select name="category" class="form-control">
                        <option value="">Chagua Aina</option>
                        <% for (let i = 0; i < categories.length; i++) { %>
                        <% const item = categories[i]; %>
                            <option value="<%= item.id %>" 
                                <%= req.query.category == item.id ? 'selected' : '' %>
                                ><%= item.name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="ms-2">
                    <button type="submit" class="btn btn-outline-primary">Tafuta</button>
                </div>
                <% if(req.query.tafuta || req.query.category){ %>
                   <div class="ms-2">
                     <a href="/TrackOmbi" class="btn btn-outline-danger">Clear</a>
                   </div>
                <% } %>
          </form>
        </div>
      </div>
    </div>

    <div class="table-responsive table-card mt-3 mb-1">
      <table class="table align-middle table-nowrap" id="customerTable">
        <thead class="table-light">
          <tr>
            <th class="" data-sort="">Na.</th>
            <th class="" data-sort="">Namba ya Ombi</th>
            <th class="" data-sort="">Aina ya Ombi</th>
            <th class="" data-sort="">Mwombaji</th>
            <th class="" data-sort="">Muda wa kutumwa (Mwombaji)</th>
            <th class="" data-sort="">Mahali lilipo</th>
            <th class="" data-sort="">Muda wa Kutumwa (Mtendaji)</th>
            <th class="" data-sort="">Hali ya Ombi</th>
            <th class="" data-sort="">Malipo</th>
          </tr>
        </thead>
        <tbody class="list form-check-all">
          <% for(var i = 0; i < applications.length; i++){  %>
          <%  const item = applications[i]; %>
          <%  const {status , payment_status , payment_status_id , reg_status} = item; %>
          <tr>
            <td class="id"><%- include('paginations/numbering.ejs' , {
                index : i
            }) %>
        </td>
            <td class="<%= reg_status == 2 ? 'text-success' : 'text-danger' %>"><%= item.tracking_number %></td>
            <td class="">
                <span title="<%= item.registration_number %>" data-bs-toggle="tooltip" class="<%= item.registration_number ? 'cursor-pointer' : '' %>">
                    <%= item.application_category %>
                </span>
            </td>
            <td class=""><%=item.applicant_name %></td>
            <td class=""><%= dateFormat(item.application_created_at , "DD/MM/YYYY HH:mm:ss") %></td>
            <td class="">
                <% if(status == 1) {%>
                <%= item.title %>  <%= item.district_name %> <%= item.region_name %>
                <% } %>
            </td>
            <td class=""><%= dateFormat(item.submitted_created_at , "DD/MM/YYYY HH:mm:ss") %></td>
            <td class="">
                <span class="badge bg-<%= status == 1 ? `info` : ( status == 2 ? 'success' : 'danger')%>">
                    <%= status == 1 ? `Linashughulikiwa` : ( status == 2 ? 'Limethibitishwa' : 'Limekatiliwa') %>
                </span>
            </td>
            <td>
                <span class="<%= payment_status_id == 1 ? 'badge bg-danger' : (payment_status_id == 2 ? 'badge bg-success' : '')%>">
                    <%=payment_status%>
                </span>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <%- include('paginations/html_pagination.ejs') %>
  </div>
</div><!-- end card -->
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="showEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/partials/footer.ejs' , {
                card_title :  card_title , 
                pagination_script : false,
}) %>
<script type="text/javascript" src="design/layouts/scripts/Fuatilia Ombi_scripts.js"></script>
</body>

</html>