<div class="tab-pane show active" id="school-info" role="tabpanel" aria-labelledby="school-info-tab">
  <div>
    <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Name</label>
          <input type="text" disabled readonly value="<%=school_info.school_name%>" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter School Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Registration Number</label>
          <input type="text" readonly disabled value="<%=school_info.registration_number%>" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter School Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Registration Date</label>
          <input type="text" readonly disabled value="<%=dateFormat(school_info.registration_date , 'DD/MM/YYYY')%>" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter School Name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Opening Date</label>
          <input type="text" disabled readonly value="<%=dateFormat(school_info.school_opening_date , 'DD/MM/YYYY')%>" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter School Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">School Category</label>
          <select   class="form-control" disabled readonly name="school_category_id" id="steparrow-gen-info-email-input" placeholder="School Category">
            <option value="">-- Select Category --</option>
            <% for (let index = 0; index < school_categories.length; index++) { %>
            <% const element = school_categories[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.school_category_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">School Sub Category</label>
          <select   class="form-control" name="school_sub_category_id" id="steparrow-gen-info-email-input" placeholder="School Sub Category">
            <option value="">-- Select School Sub Category --</option>
            <% for (let index = 0; index < school_sub_categories.length; index++) { %>
            <% const element = school_sub_categories[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.school_sub_category_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Registration Structure</label>
          <select   class="form-control" name="registration_structure_id" id="steparrow-gen-info-email-input" placeholder="Structure">
            <option value="">-- Select Structure --</option>
            <% for (let index = 0; index < registration_structures.length; index++) { %>
            <% const element = registration_structures[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.registration_structure_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Building Structure</label>
         <select   class="form-control" name="building_structure_id" id="steparrow-gen-info-email-input" placeholder="Building Structure">
            <option value="">-- Select Building Structure --</option>
            <% for (let index = 0; index < building_structures.length; index++) { %>
            <% const element = building_structures[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.building_structure_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Gender</label>
          <select   class="form-control" name="school_gender_id" id="steparrow-gen-info-email-input" placeholder="School Gender">
            <option value="">-- Select School Gender Type --</option>
            <% for (let index = 0; index < genders.length; index++) { %>
            <% const element = genders[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.school_gender_type_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Media of Communication</label>
          <select   class="form-control" name="language_id" id="steparrow-gen-info-email-input" placeholder="School Sub Category">
            <option value="">-- Select Media of Communication --</option>
            <% for (let index = 0; index < languages.length; index++) { %>
            <% const element = languages[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.language_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Curriculum</label>
         <select   class="form-control" name="curriculum_id" id="steparrow-gen-info-email-input" placeholder="Building Structure">
            <option value="">-- Select Curriculum --</option>
            <% for (let index = 0; index < curriculums.length; index++) { %>
            <% const element = curriculums[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.curriculum_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Certificate</label>
          <select   class="form-control" name="certificate_id" id="steparrow-gen-info-email-input" placeholder="Certificate">
            <option value="">-- Select Certificate --</option>
            <% for (let index = 0; index < certificates.length; index++) { %>
            <% const element = certificates[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.certificate_type_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Religion Sect</label>
          <select   class="form-control" name="sect_name_id" id="steparrow-gen-info-email-input" placeholder="Religion Sect">
            <option value="">-- Select Religion Sect --</option>
            <% for (let index = 0; index < sect_names.length; index++) { %>
            <% const element = sect_names[index]; %>
              <option value="<%= element.id %>" <%= element.id == school_info.sect_name_id ? 'selected' : '' %> 
                >
              <%= element.name %>
              </option>
            <% } %>
            </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="steparrow-gen-info-email-input">Idadi ya Mikondo</label>
          <input type="number"  name="stream" value="<%=school_info.stream%>" class="form-control" id="steparrow-gen-info-email-input" placeholder="Enter number of stream">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <div class="form-check mt-3"> <br>
            <label class="form-label" for="dahalia">
              <input type="checkbox"  name="is_hostel"
              class="form-check-input" id="dahalia" 
              placeholder="Dahalia"
              <%= school_info.is_hostel ? 'checked' : '' %>
              >
              Ina Dahalia 
            </label>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="school_size">Eneo (Jaza Eneo)</label>
          <input type="number"  name="school_size" value="<%=school_info.school_size%>" class="form-control" id="school_size" placeholder="Jaza Eneo">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="area">Ukubwa Mita za Mraba (Namba tu)</label>
          <input type="number"  name="area" value="<%=school_info.area%>" class="form-control" id="area" placeholder="Jaza Ukubwa">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <div class="form-check mt-3"> <br>
            <label class="form-label" for="is_for_disabled">
              <input type="checkbox"  name="is_for_disabled"
              class="form-check-input" id="is_for_disabled" 
              placeholder="Dahalia"
              <%= school_info.is_for_disabled ? 'checked' : '' %>
              >
              Shule ni ya wenye mahitaji Maalum?
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <div class="form-check mt-3"> <br>
            <label class="form-label" for="seminary">
              <input type="checkbox"  name="is_seminary"
              class="form-check-input" id="seminary" 
              placeholder="Dahalia"
              <%= school_info.is_seminary ? 'checked' : '' %>
              >
              Ni ya seminari
            </label>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-lg-3">
         <div class="mb-3">
          <label class="form-label" for="website">Tovuti (Optional)</label>
          <input type="text"  name="website" value="<%=school_info.website%>" class="form-control" id="website" placeholder="Website: www.example.com">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="school_phone">Namba ya Simu (Optional)</label>
          <input type="text"  name="school_phone" value="<%=school_info.school_phone%>" class="form-control" id="school_phone" placeholder="Namba ya simu ya Shule..">
        </div>
      </div>
      <div class="col-lg-3">
      <div class="mb-3">
          <label class="form-label" for="school_address">Physica Address (Optional)</label>
          <textarea type="Number"  name="school_address" value="" class="form-control" id="po_box" placeholder=Physical Address e.g Mtaa wa 6 Kitumbini"><%=school_info.school_address%></textarea>
        </div>
      </div>
      <div class="col-lg-3">
         <div class="mb-3">
          <label class="form-label" for="po_box">Sanduku la Posta (Optional)</label>
          <input type="text"  name="po_box" value="<%=school_info.po_box%>" class="form-control" id="po_box" placeholder="Sanduku la Posta..">
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="number_of_students">Idadi ya Wanafunzi</label>
          <input type="Number" min="0"  name="number_of_students" value="<%=school_info.number_of_students%>" class="form-control" id="number_of_students" placeholder="Idadi ya Wanafunzi ...">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label class="form-label" for="number_of_teachers">Idadi ya Walimu</label>
          <input type="Number" min="0"  name="number_of_teachers" value="<%=school_info.number_of_teachers%>" class="form-control" id="number_of_teachers" placeholder="Idadi ya Walimu ...">
        </div>
      </div>
    </div>
  </div>
</div>