   <div class="timeline-2">
        <div class="timeline-continue">
   <% if(Maoni.length > 0){ %>
   <% for(var i = 0; i < Maoni.length; i++){ %>
    <% const {name , coments , created_at , rank_name} = Maoni[i]; %>
            <div class="row timeline-right">
                <div class="col-12" style="position: absolute;">
                    <div class="timeline-year">
                        <p class="shadow text-primary">
                            <b>M.<%= Maoni.length - i%></b>
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="timeline-box shadow" style="margin: 5px 100px;">
                        <div class="timeline-text">
                            <h6><%= name %> (<%= rank_name %>) - <%= dateFormat(created_at , 'ddd DD/MM/YYYY HH:mm:ss') %></h6>
                            <p class="mb-0"><%- coments %></p>
                            <!-- <hr class="text-info"> -->
                        </div>
                    </div>
                </div>
            </div>
   <% } %>
   <% } else { %>
    <div class="alert alert-info">Hakuna Maoni: Ombi bado alijaanza kushughulikiwa.</div>
   <% }%>
      </div>
    </div>