<% var card_title = '' %>
<%- include('layouts/partials/header.ejs' , {
        title : 'Ada za Malipo',
        page_title : 'Orodha ya Add za Malipo',
        card_title : 'Ada za Malipo zilizopo',
        breadcrumb_main : 'Mipangilio' 
}) %>
<div class="card-body">
    <div class="ribbon-three ribbon-three-info">
    <span class="badge"><%=`${pagination.total}`%></span>
</div>
  <div id="customerList">
    <div class="row g-4 mb-3">
      <div class="col-sm-auto">
        <div>
          <button type="button" class="btn btn-success add-btn" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i> Sajili</button>
          <!-- <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button> -->
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-sm-end">
          <div class="search-box ms-2">
            <input type="text" class="form-control search" placeholder="Tafuta...">
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive table-card mt-3 mb-1">
      <table class="table align-middle table-nowrap" id="customerTable">
        <thead class="table-light">
          <tr>
            <th width="5%">
              Na.
            </th>
            <!-- <th class="">Jina</th> -->
            <th class="">Kodi</th>
            <th class="">Aina ya Malipo</th>
            <th class="">Kiasi</th>
            <th class="">Hali</th>
            <th class=" text-center" width="15%" data-="action">Action</th>
          </tr>
        </thead>
        <tbody class="list form-check-all">
          <% for(var i = 0; i < data.length; i++){ %>
          <tr>
            <td scope="row">
              <%- include('paginations/numbering.ejs' , { index : i}) %>
            </td>
            <td class=""><%= data[i].fee_code %></td>
            <td class=""><%= data[i].description %></td>
            <td class=""><%= numberFormat(data[i].amount) %></td>
            <td class="text-center">
                        <% var status = data[i].is_active %>
                        <span class="<%= status ? 'ri ri-checkbox-circle-line text-success' : 'ri ri-close-fill text-danger' %>"></span>
            </td>
            <td class="text-center">
              
                <!-- <div class="edit"> -->
                <button class="btn btn-sm btn-link btn-sm text-primary" onclick="AddZone1(this); return false;" data-fee_id="<%= data[i].fee_id %>" data-id="<%= data[i].feeCode %>" data-name="<%= data[i].Fee %>" data-amount="<%= data[i].Kiasi %>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                    <path d="M12 20h9"></path>
                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                  </svg></button>
                <!-- </div> -->
                <!-- <button type="button" class="btn btn-link btn-sm text-danger" data-bs-toggle="modal" data-id="<%= data[i].fee_id %>" id="create-btn" onclick="deleteMalipo(this); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                  </svg></button> -->
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="noresult" style="display: none">
        <div class="text-center">
          <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
          <h5 class="mt-2">Sorry! No Result Found</h5>
          <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any orders for you search.</p>
        </div>
      </div>
    </div>

  </div>
</div><!-- end card -->
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>
      <form>
        <div class="alert alert-success shadow" role="alert" id="alertsuccess" style="display: none;">
          <strong> Hongera! </strong> Malipo <b>yamesajiliwa</b> kikamilifu!
        </div>
        <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist" style="display: none;">
          <strong> Imeshindwa Kusajili! </strong> Malipo <b>yalishasajiliwa</b> kwenye mfumo tayari!
        </div>
        <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao" style="display: none;">
          <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
        </div>
        <div class="modal-body">

          <div class="mb-3" id="modal-id" style="display: none;">
            <label for="id-field" class="form-label">ID</label>
            <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
          </div>

          <div class="mb-3">
            <label for="customername-field" class="form-label">Jina la Ada</label>
            <input type="text" id="ada-field" class="form-control" placeholder="Mfano: Ada ya usajili" required />
            <span style="color: red;display: none;" id="jazada">Tafadhali jaza Jina la Ada</span>
          </div>
          <div class="mb-3">
            <label for="customername-field" class="form-label">Code ya Ada</label>
            <input type="text" id="code-field" class="form-control" placeholder="Mfano: RF01" required />
            <span style="color: red;display: none;" id="jazacode">Tafadhali jaza Code ya Ada</span>
          </div>
          <div class="mb-3">
            <label for="customername-field" class="form-label">Kiasi (Tshs)</label>
            <input type="text" id="kiasi-field" class="form-control" placeholder="Mfano: 1000" required />
            <span style="color: red;display: none;" id="jazakiasi">Tafadhali jaza Kiasi</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" onclick="funga()" data-bs-dismiss="modal">Funga</button>
            <button type="button" class="btn btn-success" onclick="sajiliHati()" id="add-btn">Rekodi</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="showModal_edit" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="exampleModalLabel1"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
      </div>
      <form>
        <div class="alert alert-success shadow" role="alert" id="alertsuccess1" style="display: none;">
          <strong> Hongera! </strong> Malipo <b>imebadilishwa</b> kikamilifu!
        </div>
        <div class="alert alert-danger shadow mb-xl-0" role="alert" id="alertexist1" style="display: none;">
          <strong> Imeshindwa Kubadilisha! </strong> Malipo <b>yalishasajiliwa</b> kwenye mfumo tayari!
        </div>
        <div class="alert alert-warning shadow shadow" role="alert" id="alertmtandao1" style="display: none;">
          <strong> Uh oh, kuna tatizo </strong> la <b>mtandao,</b> tafadhali jaribu tena badae!
        </div>
        <div class="modal-body">

          <div class="mb-3" id="modal-id1" style="display: none;">
            <label for="id-field" class="form-label">ID</label>
            <input type="text" id="id-field-edit" class="form-control" placeholder="ID" readonly />
          </div>

          <div class="mb-3">
            <label for="customername-field1" class="form-label">Jina la Ada</label>
            <input type="text" id="ada-field-edit" class="form-control" required />
            <span style="color: red;display: none;" id="jazada1">Tafadhali jaza Jina la Ada</span>
          </div>
          <div class="mb-3">
            <label for="customername-field" class="form-label">Code ya Ada</label>
            <input type="text" id="code-field-edit" class="form-control" required />
            <span style="color: red;display: none;" id="jazacode1">Tafadhali jaza Code ya Ada</span>
          </div>
          <div class="mb-3">
            <label for="customername-field" class="form-label">Kiasi (Tshs)</label>
            <input type="text" id="kiasi-field-edit" class="form-control" required />
            <span style="color: red;display: none;" id="jazakiasi1">Tafadhali jaza Kiasi</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" onclick="funga()" data-bs-dismiss="modal">Funga</button>
            <button type="button" class="btn btn-success" onclick="editHati()" id="add-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                <path d="M12 20h9"></path>
                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
              </svg></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('layouts/partials/footer.ejs' , {
                card_title :  card_title , 
                pagination_script : false,
}) %>
<script type="text/javascript" src="design/layouts/scripts/malipo_scripts.js"></script>
</body>

</html>