<% var card_title=''
   const status = req.query.status;
   const status_title = status == 'approved' ? 'Yaliyokubaliwa' : (status == 'rejected' ? 'Yaliyokataliwa' : 'Yanayosubiri')
%>
<%- include('../../layouts/partials/header.ejs' , {
    title : 'Ombi la Kusajili Shule zisizo za Serikali',
    page_title : 'Ombi la Kusajili Shule zisizo za Serikali',
    card_title : '',
    breadcrumb_main : 'Maombi',
    top_header : null,
}) %>

    <div class="row">
        <div class="col-xxl-3">
            <div class="card">
                <div class="card-body text-center">
                    <h6 class="card-title mb-3 flex-grow-1 text-start">Muda wa Ombi</h6>
                    <div class="mb-2">
                        <lord-icon src="https://cdn.lordicon.com/kbtmbyzy.json" trigger="loop" colors="primary:#405189,secondary:#02a8b5" style="width:90px;height:90px"></lord-icon>
                    </div>
                    <h6 class="mb-1"><%= muda_ombi %></h6>
                    <h5 class="fs-14 mb-4">Toka ombi limetumwa</h5>
                    <div class="hstack gap-2 justify-content-center">
                        <button class="btn btn-danger btn-sm" title="Tarehe ya kuanzishwa kwa ombi: <%= created_at %>"><i class="ri-stop-circle-line align-bottom me-1"></i> Mwanzo</button>
                        <button class="btn btn-success btn-sm" title="Tarehe ya mwisho kushughulikiwa kwa ombi: <%= created_at %>"><i class="ri-play-circle-line align-bottom me-1"></i> Mwisho</button>
                    </div>
                </div>
            </div>
            <!--end card-->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-4">
                        <select class="form-control" name="choices-single-default" data-choices data-choices-search-false disabled>
                            <option value="">Taarifa Fupi</option>
                            <!-- <option value="Unassigned">Unassigned</option>
                            <option value="To Do">To Do</option>
                            <option value="Inprogress">Inprogress</option>
                            <option value="In Reviews" selected>In Reviews</option>
                            <option value="Completed">Completed</option> -->
                        </select>
                    </div>
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="fw-medium">Namba ya Ombi</td>
                                    <td><%= tracking_number %></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Mwombaji</td>
                                    <td>
                                        <h5 class="fs-13"><a href="#"><%= fullname %></a></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Jina Pendekezwa</td>
                                    <td><span class="badge badge-soft-danger"><%= school_name %></span></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Aina ya Shule</td>
                                    <td><%= subcategory %></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Shule ni ya</td>
                                    <td><%= genderType %></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Halmashauri</td>
                                    <td><%= LgaName %></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Mkoa</td>
                                    <td><%= RegionName %></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Viambatisho</h5>
                    <div class="vstack gap-2">
                        <% for(var i = 0; i < objAttachment.length; i++){ %>
                        <div class="border rounded border-dashed p-2">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar-sm">
                                        <div class="avatar-title bg-light text-secondary rounded fs-24">
                                            <i class="ri-folder-zip-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="fs-13 mb-1"><a href="javascript:void(0);" class="text-body text-truncate d-block"><%= objAttachment[i].attachment_name %></a></h5>
                                    <div><%= objAttachment[i].file_format %>MB</div>
                                </div>
                                <div class="flex-shrink-0 ms-2">
                                    <div class="d-flex gap-1">
                                        <button type="button" class="btn btn-icon text-muted btn-sm fs-18"><i class="ri-download-2-line"></i></button>
                                        <div class="dropdown">
                                            <button class="btn btn-icon text-muted btn-sm fs-18 dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Rename</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="mt-2 text-center">
                        </div>
                    </div>
                </div>
            </div> -->
            <!--end card-->
        </div>
        <!---end col-->
        <div class="col-xxl-9">
            <div class="card">
                <div class="card-body">
                    <div class="text-muted">
                        <h6 class="mb-3 fw-semibold text-uppercase">USAJILI WA SHULE</h6>
                        <!-- <p><b>Ombi la kusajili shule ya <%= schoolCategory %> jina <%= school_name %> kutoka kwa <%= fullname %></b>.</p> -->

                        

                        <!-- <div class="pt-3 border-top border-top-dashed mt-4">
                            <h6 class="mb-3 fw-semibold text-uppercase">RIPOTI YA TAALUMA ZINGINE </h6>
                            <div class="hstack flex-wrap gap-2 fs-15">
                                <div class="badge fw-medium badge-soft-info">MWANASHERIA</div>
                                <div class="badge fw-medium badge-soft-info">MHANDISI</div>
                                <div class="badge fw-medium badge-soft-info">AFYA</div>
                            </div> -->
                            <input type="text" id="trackerId" value="<%= tracking_number %>" hidden/>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!--end card-->
            <div class="card">
                <div class="card-header">
                    <div>
                        <ul class="nav nav-tabs nav-border-top nav-border-top-secondary nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#taarifa-mwombaji-1" role="tab">
                                    Taarifa Za Shule
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#taarifa-shule-taraji-1" role="tab">
                                    Taarifa Za Wanafunzi na Wafanyakazi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#messages-1" role="tab">
                                    Viambatisho
                                </a>
                            </li>
                            <% if(permission(req , "view-comments")){%>  
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#home-1" role="tab">
                                        Maoni
                                    </a>
                                </li>
                            <% } %>
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab">
                                    Shule zinazomilikiwa na Mwombaji
                                </a>
                            </li> -->
                        </ul>
                        <!--end nav-->
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane" id="taarifa-shule-taraji-1" role="tabpanel">
                            <h6 class="card-title mb-4 pb-2">WANAFUNZI</h6>
                            <div class="table-responsive table-card">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Idadi ya mikondo</th>
                                            <th scope="col">Idadi ya wanafunzi</th>
                                            <th scope="col">Kiwango cha Elimu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= Stream %></b></td>
                                            <td><b><%= numberOfStudents %></b></td>
                                            <td><b><%= schoolCategory %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Masomo na kozi zitakazotolewa</th>
                                            <th scope="col">Mtihani wa kuhitimu ngazi ya elimu utakaotolewa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= lessonsAndCourses %></b></td>
                                            <td><b><%= Certificate %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p></p>
                            <h6 class="card-title mb-4 pb-2">WAFANYAKAZI</h6>
                            <div class="table-responsive table-card">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Jumla ya walimu wanaotakiwa</th>
                                            <th scope="col">Mapendekezo ya uwiano wa mwalimu na mwanafunzi</th>
                                            <th scope="col">Taarifa ya Mwalimu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= numberOfTeachers %></b></td>
                                            <td><b><%= TeacherRatioStudent %></b></td>
                                            <td><button class="btn btn-danger btn-sm" >
                                                <a href="#showModal" data-info="<%= teacherInformation %>" data-bs-toggle="modal" class="fw-medium link-primary open-AddBookDialog read-attachment"> <i class="ri-stop-circle-line align-bottom me-1"></i> Taarifa ya Mwalimu
                                            </a>
                                            
                                            </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                        </div>
                            <div class="tab-pane active" id="taarifa-mwombaji-1" role="tabpanel">
                            <h6 class="card-title mb-4 pb-2">Taarifa za Shule</h6>
                            <div class="table-responsive table-card">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col" title="Jina liwe fupi–mfano Azania">Jina la shule lililopendekezwa</th>
                                            <th scope="col">Kiwango cha Elimu Itakayotolewa</th>
                                            <th scope="col">Tarehe ya kufungua shule iliyopendekezwa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= school_name %></b></td>
                                            <td><b><%= schoolCategory %></b></td>
                                            <td><b><%= schoolOpeningDate %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Anwani ya Shule</th>
                                            <th scope="col">namba ya simu</th>
                                            <!-- <th scope="col" title="Mahali shule itakapojengwa">Nukushi</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= ['S','P'].includes(poBox) ? poBox : 'S.L.P '+poBox %></b></td>
                                            <td><b><%= schoolPhone %></b></td>
                                            <!-- <td><b><%= schoolAddress %></b></td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Barua pepe</th>
                                            <th scope="col">Tovuti</th>
                                            <th scope="col">Mkoa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= schoolEmail %></b></td>
                                            <td><b><%= Website %></b></td>
                                            <td><b><%= RegionName %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Shule itakuwa ya Seminari/kawaida</th>
                                            <% if(SeminaryValue == 1){ %>
                                                <th scope="col">Seminari ya madhehebu ya</th>
                                            
                                            <th scope="col">Namba ya simu</th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= SeminaryTitle %></b></td>
                                            <% if(isSeminary == 1){ %>
                                            <td><b></b></td>
                                            
                                            <td><b><%= schoolPhone %></b></td>
                                            <% } %>
                                        </tr>
                                    </tbody>
                                
                                </table>
                                <% if(isSeminary == 1){ %> 
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Nukushi</th>
                                            <th scope="col">Baruapepe</th>
                                            <th scope="col">Mkoa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= poBox %></b></td>
                                            <td><b><%= schoolEmail %></b></td>
                                            <td><b><%= RegionName %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Halmashauri</th>
                                            <th scope="col">Tarafa</th>
                                            <th scope="col">Kata</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= LgaName %></b></td>
                                            <td><b>-</b></td>
                                            <td><b><%= WardName %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">kijiji</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b><%= WardName %></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <% } %>
                            </div>
                        </div>
                        <%- include('comments.ejs') %>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="messages-1" role="tabpanel">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Jina la Faili</th>
                                            <th scope="col">Aina</th>
                                            <th scope="col">Ukubwa</th>
                                            <th scope="col">Tarehe ya Kupakia</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < objAttachment.length; i++){ %>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar-sm">
                                                        <div class="avatar-title bg-soft-primary text-danger rounded fs-20">
                                                            <i class="ri-file-pdf-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ms-3 flex-grow-1">
                                                        <h6 class="fs-15 mb-0"><a href="#showModal" data-path="<%= objAttachment[i].attachment_path %>" data-ward="<%= objAttachment[i].attachment_path %>" data-lga="<%= objAttachment[i].attachment_name %>" data-region="<%= objAttachment[i].attachment_name %>" data-date="<%= objAttachment[i].attachment_name %>" data-name="<%= objAttachment[i].attachment_namee %>" data-id="<%= objAttachment[i].attachment_name %>" data-category="<%= objAttachment[i].attachment_name %>" data-bs-toggle="modal" class="fw-medium link-primary open-AddBookDialog read-attachment"><%= objAttachment[i].attachment_name %></a></h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><%= objAttachment[i].file_format %></td>
                                            <td><%= objAttachment[i].file_size %> MB</td>
                                            <td><%= objAttachment[i].created_at %></td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" class="btn btn-light btn-icon" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="true">
                                                        <i class="ri-equalizer-fill"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 23px);">
                                                        <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-fill me-2 align-middle text-muted"></i>View</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-download-2-fill me-2 align-middle text-muted"></i>Download</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-5-line me-2 align-middle text-muted"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="profile-1" role="tabpanel">
                            <h6 class="card-title mb-4 pb-2">Shule zilizosajiliwa kwa umiliki wa <%= fullname %></h6>
                            <div class="table-responsive table-card">
                                <table class="table align-middle mb-0">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th scope="col">Namba ya Usajili</th>
                                            <th scope="col">Jina la Shule</th>
                                            <th scope="col">Ngazi</th>
                                            <th scope="col">Halmashauri</th>
                                            <th scope="col">Mkoa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td title="Ni lazima" style="color: red;">S.9807</td>
                                            <td>KILIMANI</td>
                                            <td>AWALI</td>
                                            <td>KINONDONI</td>
                                            <td>DAR ES SALAAM</td>
                                        </tr>
                                        <tr>
                                            <td title="Ni lazima" style="color: red;">S.9807</td>
                                            <td>KILIMANI</td>
                                            <td>AWALI</td>
                                            <td>KINONDONI</td>
                                            <td>DAR ES SALAAM</td>
                                        </tr>
                                        <tr>
                                            <td title="Ni lazima" style="color: red;">S.9807</td>
                                            <td>KILIMANI</td>
                                            <td>AWALI</td>
                                            <td>KINONDONI</td>
                                            <td>DAR ES SALAAM</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                        </div>
                        <!--edn tab-pane-->

                    </div>
                    <!--end tab-content-->
                </div>
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="modal fade" id="inviteMembersModal" tabindex="-1" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 ps-4 bg-soft-success">
                    <h5 class="modal-title" id="inviteMembersModalLabel">Team Members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <div class="search-box mb-3">
                        <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                        <i class="ri-search-line search-icon"></i>
                    </div>

                    <div class="mb-4 d-flex align-items-center">
                        <div class="me-2">
                            <h5 class="mb-0 fs-13">Members :</h5>
                        </div>
                        <div class="avatar-group justify-content-center">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Tonya Noble">
                                <div class="avatar-xs">
                                    <img src="../design/assets/images/users/avatar-10.jpg" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Thomas Taylor">
                                <div class="avatar-xs">
                                    <img src="../design/assets/images/users/avatar-8.jpg" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Nancy Martino">
                                <div class="avatar-xs">
                                    <img src="../design/assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mx-n4 px-4" data-simplebar style="max-height: 225px;">
                        <div class="vstack gap-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="../design/assets/images/users/avatar-2.jpg" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Nancy Martino</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <div class="avatar-title bg-soft-danger text-danger rounded-circle">
                                        HB
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Henry Baird</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="../design/assets/images/users/avatar-3.jpg" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Frank Hook</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="../design/assets/images/users/avatar-4.jpg" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Jennifer Carter</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <div class="avatar-title bg-soft-success text-success rounded-circle">
                                        AC
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Alexis Clarke</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="../design/assets/images/users/avatar-7.jpg" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="javascript:void(0);" class="text-body d-block">Joseph Parker</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                        </div>
                        <!-- end list -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success w-xs">Assigned</button>
                </div>
            </div>
            <!-- end modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>


    <div class="modal fade zoomIn showModal" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-soft-info">
                    <h5 class="modal-title" id="exampleModalLabele">Kusajili Shule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>
                <form action="#">
                    <div class="modal-body">
                        <input type="hidden" id="tasksId" />
                        <div  id="iframediv">
                            <iframe id="pdfdoc" src="data:application/pdf;base64, <%= teacherInformation %>" width="100%" height="700"></iframe>
                        </div>
                        <!--end row-->
                    </div>
                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="submit" class="btn btn-success" id="add-btn">Add Task</button>
                            <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->

<!--end card-body-->
<%- include('../../layouts/partials/footer.ejs' , {
     card_title :  '' , 
     pagination_script : false,
    }) %>
<!-- <script type="text/javascript" src="/design/maombi/details/scripts/sajili.js"></script> -->
<script type="text/javascript" src="/design/maombi/details/scripts/comments.js"></script>
</body>
</html>