<% const {all , pending , approved , rejected } = summary %>
<% const currentUrl = req.originalUrl.includes('?') ? req.originalUrl.split("?")[0] : req.originalUrl  %>
<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card card-animate">
            <div class="card-body" title="Idadi ya maombi ya kuanzisha shule mwezi huu(August) ni zaidi ya 17.32% ukilinganisha na mwezi July">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Yote</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" 
                            data-target="<%= all %>">0</span>
                        </h2>
                     
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-info text-info rounded-circle fs-4">
                                <i class="ri-ticket-2-line"></i>
                            </span>
                        </div>
                          <p class="mb-0 text-muted">
                            &nbsp;
                        </p>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card card-animate <%= req.query.status == 'pending' || !req.query.status ? 'border-1 border-warning' : '' %>">
            <div class="card-body" title="Idadi ya maombi ya kuanzisha shule yanayohitaji kufanyiwa kazi nawe">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Yanayosubiri</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" 
                            data-target="<%= pending %>">0</span></h2>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-warning text-warning rounded-circle fs-4">
                                <i class="mdi mdi-timer-sand"></i>
                            </span>
                        </div>
                        <p class="mb-0 text-muted">
                            <% if(pending > 0){ %>
                                <a class="btn btn-sm btn-outline-warning mt-3" href="<%= currentUrl %>?status=pending"> 
                                    <i class="ri-eye-fill align-bottom me-2"></i>
                                    Angalia
                                </a>
                            <% }else{ %>
                                &nbsp;
                            <% } %>
                        </p>
                    </div>
                </div>
            </div><!-- end card body -->
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card card-animate <%=req.query.status == 'approved' ? 'border-1 border-success' : '' %>">
            <div class="card-body" title="">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Yaliyokubaliwa</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" 
                            data-target="<%= approved %>">0</span></h2>
                       
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-success text-success rounded-circle fs-4">
                                <i class="ri-checkbox-circle-line"></i>
                            </span>
                        </div>
                         <p class="mb-0 text-muted">
                            <% if(approved > 0){ %>
                                <a class="btn btn-sm btn-outline-success mt-3" href="<%= currentUrl %>?status=approved"> 
                                    <i class="ri-eye-fill align-bottom me-2"></i>
                                    Angalia
                                </a>
                            <% }else{ %>
                                &nbsp;
                            <% } %>
                        </p>
                    </div>
                </div>
            </div><!-- end card body -->
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-sm-6">
        <div class="card card-animate <%=req.query.status == 'rejected' ? 'border-1 border-danger' : '' %>">
            <div class="card-body" title="Maombi ya kuanzisha shule yaliyokataliwa mwezi August">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Yaliyokataliwa</p>
                        <h2 class="mt-4 ff-secondary fw-semibold">
                            <span class="counter-value" data-target="<%= rejected %>">0</span></h2>
                      
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-danger text-danger rounded-circle fs-4">
                                <i class=" ri-delete-back-2-fill"></i>
                            </span>
                        </div>
                          <p class="mb-0 text-muted">
                            <% if(rejected > 0){ %>
                                <a class="btn btn-sm btn-outline-danger mt-3" href="<%= currentUrl %>?status=rejected"> 
                                    <i class="ri-eye-fill align-bottom me-2"></i>
                                    Angalia
                                </a>
                            <% }else{ %>
                                &nbsp;
                            <% } %>
                        </p>
                    </div>
                </div>
            </div><!-- end card body -->
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->