<form class="mt-4">
    <div class="row g-3">
        <div class="col-lg-12">
            <label for="exampleFormControlTextarea1" class="form-label">Weka Maoni</label>
            <textarea class="form-control bg-light border-light" id="exampleFormControlTextarea1" rows="3" placeholder="Andika maoni yako hapa.."></textarea>
        </div>
        <div class="col-lg-12">
        <label for="exampleFormControlTextarea1" class="form-label">Tuma kwa</label>
        <select class="js-example-basic-single form-control bg-light border-light" id="staffs" name="state">
            <option value="#">--Chagua--</option>
            <% for(var i = 0; i < staffs.length; i++){ %>
            <option value="<%= staffs[i].userId %>-<%= staffs[i].roleId %>"><%= staffs[i].name %> (<%= staffs[i].role %>)</option>
            <% } %>
        </select>
    </div>
    <input type="hidden" value="<%= userLevel %>" id="userLevel"/>
    <input type="hidden" value="0" id="gamechanger"/>
    <div id="viambataDiv" class="viambataDiv" style="display: none;">
        <table id="emptbl">
            <tr>
                <th>Viambatisho</th>
                <th>Faili</th>
            </tr> 
            <tr> 
                <td id="col0"> 
                    <select name="department" id="faili"> 
                        <option value="#">Chagua Faili</option> 
                    <% for(var i = 0; i < objAttachment.length; i++){ %>
                        <option value="<%= objAttachment[i].registry_id %>"><%= objAttachment[i].attachment_name %></option> 
                    <% } %>
                    </select> 
                        </td> 
                <td id="col1"><input type="file" name="empname" id="failiAttached" /></td> 
            </tr>  
        </table> 
        <table> 
            <tr> 
                <!-- <td><input type="button" value="Add Row" onclick="addRows()" /></td>  -->
                <!-- <td><input type="button" value="Delete Row" onclick="deleteRows()" /></td>  -->
                <td>
                    <button type="button" class="btn btn-danger btn-sm" 
                    onclick="Pandisha()">Pandisha</button>
                </td> 
            </tr>  
        </table> 
    </div>
    <div class="col-12 text-end">
        <button type="button" onclick="showViambata()" class="btn btn-ghost-secondary btn-icon waves-effect me-1" 
        title="ambatisha kiambatisho kwenye ombi hili"><i class="ri-attachment-line fs-16"></i></button>
        <button type="button" onclick="tuma()" 
        title="Unatuma ombi liendelee kushughulikiwa zaidi" class="btn btn-primary">Tuma</button>
        <% if(userLevel == "w1"){ %>
        <button type="button" onclick="wasilisha()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button>
        <% } %>
        <% if(userLevel == "k1"){ %>
        <button type="button" onclick="rudisha()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi hili kwenda ngazi ya chini kwa utekelezaji" 
        class="btn btn-secondary">Rudisha kwa Ofisa</button>
        <button type="button" onclick="wasilishak1()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button>
        <% } %>
        <% if(userLevel == "mus"){ %>
            <button type="button" onclick="rudishaMus()" 
            title="Kwa kubonyeza kifute hiki unalirudisha ombi hili kwenda ngazi ya chini kwa utekelezaji" 
            class="btn btn-secondary">Rudisha kwa Ofisa</button>
        <button type="button" onclick="wasilishaMus()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button>
        <% } %>
        <% if(userLevel == "mus-"){ %>
        <button type="button" onclick="wasilishaMmus()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <!-- <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button> -->
        <% } %>
        <% if(userLevel == "mus-"){ %>
        <button type="button" onclick="wasilishaMmus()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <!-- <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button> -->
        <% } %>
        <% if(userLevel == 'mus-'){ %>
            <button type="button" onclick="wasilishaMmus()" 
            title="Kwa kubonyeza kifute hiki unalituma ombi hili kwa utekelezaji" 
            class="btn btn-success">Wasilisha</button>
            <!-- <button type="button" onclick="rudishaMteja()" 
            title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
            class="btn btn-warning">Rudisha kwa Mwombaji</button> -->
        <% } %>
        <% if(userLevel == "adsa"){ %>
            <!-- <button type="button" onclick="rudisha()" 
            title="Kwa kubonyeza kifute hiki unalirudisha ombi hili kwenda ngazi ya chini kwa utekelezaji" 
            class="btn btn-secondary">Rudisha kwa Ofisa</button> -->
        <button type="button" onclick="wasilishaAdsa()" 
        title="Kwa kubonyeza kifute hiki unalituma ombi hili kwenda ngazi ya juu kwa utekelezaji" 
        class="btn btn-success">Wasilisha</button>
        <button type="button" onclick="rudishaMteja()" 
        title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
        class="btn btn-warning">Rudisha kwa Mwombaji</button>
        <% } %>
        <% if(userLevel == "ke"){ %>
            <button type="button" onclick="wasilishaKe()" 
            title="Kwa kubonyeza kifute hiki unakubali usajili wa shule hii" 
            class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></button>
            <button type="button" onclick="kataaKe()" 
            title="Kwa kubonyeza kifute hiki unakataa usajili wa shule hii" 
            class="btn btn-danger">Kataa</button>
            <button type="button" onclick="rudishaMteja()" 
            title="Kwa kubonyeza kifute hiki unalirudisha ombi kwa mwombaji" 
            class="btn btn-warning">Rudisha kwa Mwombaji</button>
        <% } %>
    </div>
    </div>
    <!--end row-->
</form>
