<!-- <%= "niiaidiiaid"+is_approved  %> -->
<% if([0,1].includes(is_approved)) { %>
    <form class="mt-4">
  <div class="row g-3">
    <div class="col-lg-12" id="editor-div">
      <label for="exampleFormControlTextarea1" class="form-label">Andika Maoni</label>
      <textarea class="ckeditor-classic" id="editor" ></textarea>
    </div>
    <div class="col-lg-12" id="staff-div">
      <label for="exampleFormControlTextarea1" class="form-label">Tuma kwa</label>
      <select class="js-example-basic-single form-control bg-light border-light" id="staffs" name="state">
        <option value="#">--Chagua--</option>
        <% for(var i=0; i < staffs.length; i++){ %>
        <option value="<%= staffs[i].userId %>-<%= staffs[i].roleId %>">
          <%= staffs[i].name %> (<%= staffs[i].role %>)
        </option>
        <% } %>
      </select>
    </div>
    <input type="hidden" value="<%= userLevel %>" id="userLevel" />
    <input type="hidden" value="0" id="gamechanger" />
    <div class="col-lg-12">
    <div id="viambataDiv" class="viambataDiv d-none justify-content-lg-start">
          <div class="form-group mb-2">
          <select name="department" id="faili" class="form-control js-example-basic-single">
                <option value="">Chagua Aina ya Kiambatisho</option>
                <% for(var i=0; i < objAttachment.length; i++){ %>
                <option value="<%= objAttachment[i].registry_id %>">
                  <%= objAttachment[i].attachment_name %>
                </option>
                <% } %>
              </select>
        </div>
         <div class="form-group mb-2">
          <input type="file" name="empname" id="failiAttached" />
        </div>
      <div class="form-group mb-3">
              <button type="button" class="btn btn-success btn-sm" onclick="Pandisha()">Pandisha</button>
              <button type="button" class="btn btn-danger btn-sm ml-4" onclick="showViambata()">Ghairi</button>
            </div>
      </div>
    </div>

    <div class="col-12 text-start">
      <button type="button" onclick="showViambata()" class="btn btn-ghost-secondary btn-icon waves-effect me-1" title="ambatisha kiambatisho kwenye ombi hili"><i class="ri-attachment-line fs-16"></i></button>
      <button type="button" id="btn-tuma" onclick="tuma(`<%= commentUrl%>` , `<%= commentRedirectUrl %>`)" 
        title="Kwa kubonyeza kitufe hiki unatuma ombi kwa afisa/kiongozi uliyemchagua hapo juu." data-bs-toggle="tooltip" class="btn btn-primary d-none">Tuma</button>

      <% if(userLevel=='w1' ||  userLevel=='k1' || userLevel=='mus' || userLevel=='adsa' || userLevel=='ke' ){ %>
        <% if(userLevel=='ke' ){ %>
          <button type="button" id="btn-thibitisha" onclick="thibitisha(`<%= commentUrl%>` , `<%= commentRedirectUrl %>`)" data-bs-toggle="tooltip" 
            title="Kwa kubonyeza kitufe hiki unathibitisha ombi hili" class="btn btn-success">
            Thibitisha
          </button>
          <button type="button" id="btn-kataa" onclick="kataa(`<%= commentUrl%>` , `<%= commentRedirectUrl %>`)" data-bs-toggle="tooltip" 
            title="Kwa kubonyeza kitufe hiki unakataa ombi hili" 
            class="btn btn-danger">Kataa</button>
        <% }else{ %>
          <button type="button" id="btn-wasilisha" onclick="wasilisha(`<%= commentUrl%>` , `<%= commentRedirectUrl %>`)" data-bs-toggle="tooltip" 
            title="Kwa kubonyeza kitufe hiki unaliwasisha ombi hili ngazi ya juu" class="btn btn-success">
           Wasilisha
          </button>
        <% }  %>
          <button type="button" id="btn-rudisha" onclick="rudisha(`<%= commentUrl%>` , `<%= commentRedirectUrl %>`)" data-bs-toggle="tooltip" 
            title="Kwa kubonyeza kitufe hiki unalirudisha ombi kwa mwombaji" class="btn btn-info">Rudisha kwa
              Mwombaji
          </button>
      <% } %>
    </div>
  </div>
  <!--end row-->
</form>
<% } %>
